.model_center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.show {
  display: block;
}
body,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6,
img,
br,
hr,
table,
tr,
td,
dl,
dt,
dd,
form {
  margin: 0;
  padding: 0;
}
#section {
  padding-top: 114px;
}
#section .container {
  width: 100%;
  min-height: 73rem;
}
#section .container .row .col-xs-2 {
  width: 10%;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 2px #ddd;
  padding: 0;
}
#section .container .row .col-xs-2 ul.list-unstyled {
  text-align: center;
  margin: 0;
  height: 100%;
}
#section .container .row .col-xs-2 ul.list-unstyled li {
  background-color: #fff;
}
#section .container .row .col-xs-2 ul.list-unstyled li div {
  width: 100%;
  height: 140px;
  text-decoration: none;
  font-size: 2rem;
  padding-top: 2.5rem;
  color: #999;
}
#section .container .row .col-xs-2 ul.list-unstyled li span {
  display: block;
  margin: .8rem auto;
}
#section .container .row .col-xs-2 li.li_active {
  background-color: #E7F5FF;
}
#section .container .row .col-xs-2 li.li_active div {
  color: #2B99FF;
}
#section .container .row .col-xs-10 {
  width: 90%;
  background-color: #F0F8FF;
}
input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #fff url(../img/unchoose.png);
  height: 24px;
  vertical-align: middle;
  width: 24px;
  margin: 0 !important;
}
input[type="checkbox"]:checked {
  background: #fff url(../img/choose.png) 0 0;
}
/**解决ie出现边框问题**/
input[type="checkbox"]:focus {
  outline: none;
}
